:root {
    --color-bg: #212122;
    --color-cyan: #78dce8;
    --color-yellow: #ffd866;
    --color-green: #a9dc76;
    --color-purple: #ab9df2;
    --color-pink: #ff6188;
    --color-orange: #fc9867;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--color-bg);
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--color-orange);
    position: fixed;
    top: 0;
    left: 0;
}

body {
    font-family: 'SFMono', monospace;
    font-size: 1.5rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-bg);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .3rem; 
}

canvas {
    border: 1px solid var(--color-pink);
    border-radius: 15px;
    padding: .5rem;
}

a, a:visited {
    color: #ffd866;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px var(--color-pink);
    border-radius: 15px;
    padding: 1rem;
}

#scoreContainer {
    font-family: 'SFMono', monospace;
    color: var(--color-orange);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
}

#scoreTable {
    font-family: 'SFMono', monospace;
    color: var(--color-orange);
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 2rem;
}
#scoreTable table {
    font-family: 'SFMono', monospace;
    font-size: 1rem;
    width: 100%;
    border-collapse: collapse;
}

#scoreTable caption {
    font-size: 1.1rem;
    color: var(--color-orange);
    margin-bottom: 0.5rem;
}

#scoreTable th,
#scoreTable td {
    padding: 5px;
    text-align: left;
}

.title {
    font-family: 'SF Mono', monospace;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 700;
}

.title a {
    color: var(--color-green);
}